.table {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  margin-bottom: 25px;
  background-color: black;
}

.head {
  background-color: #282828;
  color: #ffffff;
  height: 30px;
}

.array{
  height: 30px;
  background-color: rgb(255, 255, 255);
    
    &:nth-child(2n) {
      background-color: rgb(180, 180, 180);
    }
}